<div class="gallery">
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="well well-sm">

                <form class="form-horizontal" action="/contactenos" method="post">
                    <fieldset>
                        <legend class="text-center ">Contactenos</legend>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                            <div class="col-md-12">
                                <input id="fname" name="name" type="text" placeholder="Ingrese su Nombre" class="form-control">
                            </div>
                        </div>
                        {{#if info }}
                        <div class="alert alert-success">
                            {{ info }}
                        </div>
                        {{/if}}

                        <div class="form-group" hidden>
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-12">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control" value="carlos97cc123@gmail.com">
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-12">
                                <input id="email" name="remitente" type="email" placeholder="Ingrese su correo> correo@gmail.com" class="form-control" value>
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-12">
                                <input id="email" name="clave" type="password" placeholder="Clave" class="form-control" >
                            </div>
                        </div>

                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                            <div class="col-md-12">
                                <input id="asunto" name="asunto" type="text" placeholder="Asunto" class="form-control">
                            </div>
                        </div>


                        <div class="form-group">
                            <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                            <div class="col-md-12">
                               <textarea class="form-control" id="message" name="message" placeholder="Que opina de nuetro servicio." rows="7"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                          <a  class="col-md-12" href="https://myaccount.google.com/u/1/lesssecureapps?pageId=none" target="_blank" >valide su cuenta</a>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn btn-block">Enviar</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>

        <div class="col-md-6 text-center">
          <legend class="text-center ">Siganos en FACEBOOK!</legend>
          <p>Enterese de las ultimas novedades de nuestra empresa a traves de facebook</p>
          <div class="banner">
            <div class="well well-sm">
              <div class="fb-page" data-href="https://www.facebook.com/Trans-NIC-358548688260924/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Trans-NIC-358548688260924/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Trans-NIC-358548688260924/">Trans NIC</a></blockquote></div>
            </div>
        </div>
    </div>
    </div>
</div>

</div>
