<script src="//cdnjs.cloudflare.com/ajax/libs/minicart/3.0.5/minicart.min.js"></script>

<div class="gallery">
  <div class="jumbotron">
        <h1 class="card-title">Comprar Boletos</h1>
  </div>


<div class="card-columns" style="display:flex;">
<div class="card" style="width: 30rem;">
  <img src="images/boleto.png" class="card-img-top" alt="...">
  <div class="card-body">
        <h2 class="text-center"><b>Busca tu pasaje de bus en TransNIC!  </b></h2>
    <form method="post">
        <br>
        <div class="row text-left" style="margin-bottom:4px;">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 block-display">
           <div class="input-group" >
              <div class="input-group-addon">Origen</div>
               <select class="form-control" name=""></select>
               <span class="error-msg"></span>
           </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 block-display">
           <div class="input-group" >
              <div class="input-group-addon">Destino</div>
               <select class="form-control" name=""></select>
               <span class="error-msg"></span>
           </div>
        </div>
           <div class="col-sm-12 col-xs-12 block-display">
              <div class="input-group" >
                 <div class="input-group-addon">
                    <i class="fa fa-calendar"> Elija fecha del viaje
                    </i>
                 </div>
                  <input type="date" class="form-control" required />
                  <span class="error-msg"></span>
              </div>
           </div>
               <div class="col-lg-6 col-md-6  block-display">
                <div class="input-group" >
                 <div class="input-group-addon">Crédito
                   <label class="control control--radio"> <img src="images/master.jpg" />
                       <input type="radio" name="methods" value="3" required/>
                   </label>
                 </div>

               </div>
               </div>
               <div class="col-lg-6 col-md-6 ">
                <div class="input-group" >
                 <div class="input-group-addon">Debito
                   <label class="control control--radio"> <img src="images/visa.jpg" />
                       <input type="radio" name="methods" value="3" required/>
                   </label>
                 </div>

               </div>
             </div>
             <div class="col-lg-12 col-md-12 ">
              <div class="input-group" >
                 <a href="#" class="btn btn-primary btn-lg btn-block">Busca tu pasaje</a>
             </div>
           </div>
  </form>
  </div>
  </div>
</div>

<div class="card" style="width: 50rem;">
  <div class="card-header"> <b>    Viajes Disponibles!</b> </div>
  <div class="card-body">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Origen</th>
          <th scope="col">Destino</th>
          <th scope="col">Salida</th>
          <th scope="col">Llegada</th>
          <th scope="col">Tipo</th>
          <th scope="col">Comprar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Loja</td>
          <td>Quito</td>
          <td>08:30</td>
          <td>09:45</td>
          <td>

                        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="business" value="jack_andres@outlook.com">
                        <input type="hidden" name="lc" value="AL">
                        <input type="hidden" name="item_name" value="Boleto de Transporte">
                        <input type="hidden" name="item_number" value="1">
                        <input type="hidden" name="button_subtype" value="products">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="add" value="1">
                        <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
                        <input type="hidden" name="option_select0" value="Normal">
                        <input type="hidden" name="option_amount0" value="7.50">
                        <input type="hidden" name="option_select1" value="VIP">
                        <input type="hidden" name="option_amount1" value="9.50">
                        <input type="hidden" name="option_select2" value="Premium">
                        <input type="hidden" name="option_amount2" value="12.50">
                        <input type="hidden" name="option_index" value="0">
            <input type="hidden" name="on0" value="Tipo">
                      <select name="os0">
                      	<option value="Normal">Normal $7,50 USD</option>
                      	<option value="VIP">VIP $9,50 USD</option>
                      	<option value="Premium">Premium $12,50 USD</option>
                      </select></td>
          <td>

            <input type="image" src="https://www.paypalobjects.com/es_XC/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
            <img alt="" border="0" src="https://www.paypalobjects.com/es_XC/i/scr/pixel.gif" width="1" height="1">
            </form>
            </div>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

</div>





<script>
    paypal.minicart.render({
      strings: {
          button: "Pagar",
          buttonAlt: "Total:",
          discount: "Descuento:"
      }
  });
</script>
<script>
    paypal.minicart.reset();
</script>
