<title>{{titulo}}</title>

<div class="gallery">
  <div class="jumbotron">
    <h1 class="display-4">Frecuencias y Rutas</h1>
    <p class="lead">Aqui podrá revisar todas las Rutas y Horarios que posee nuestra cooperativa <br>
      Podrá consultar por rutas, horarios y el costo que tiene cada Destino</p>
  </div>

  <div class="search">
    <form>
      <input type="search" class="search_input menu_mm" placeholder="Ingrese el destino" required="required">
      <button type="submit" id="search_button_menu" class="search_button menu_mm"><img class="menu_mm" src="/images/magnifying-glass.svg" alt=""></button>
    </form>
  </div>
    <table data-aos='fade-down' class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Origen</th>
          <th scope="col">Destino</th>
          <th scope="col">Salida</th>
          <th scope="col">Llegada</th>
          <th scope="col">Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Loja</td>
          <td>Quito</td>
          <td>08:30</td>
          <td>09:45</td>
          <td>$ 24.50</td>
        </tr>
      </tbody>
    </table>
  </div>
