<script src="https://test.oppwa.com/v1/paymentWidgets.js?checkoutId={{idPagoTarjeta}}"></script>
<!--  este form de aqui sirve para realizar el pago con tarjeta, es un servicio web lo
pueden consultar desde el script que se encuentra al princiopio de esta vista-->

<BODY>
    <div class="gallery">
        <form id="Formtarjeta" action="http://localhost:3000/pago/comprobar" style="background-color:#f6f6f5;" class="paymentWidgets" data-brands="VISA MASTER AMEX"></form>
    </div>
</BODY>
