<!DOCTYPE html>
<html class="no-js" lang="es-MX">

<!-- head -->
<head>

<!-- meta -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<meta name="description" content="TransNica Servicio de Buses en Costa Rica, Nicaragua y Honduras" />
<meta name="keywords" content="TransNica, Buses, Transporte, Nicaragua, Costa Rica, Honduras, Trasporte Centroamérica, Horario de buses, Servicio de buses" />
<link rel="alternate" hreflang="es-mx" href="http://transnica.com/new/" />

<link rel="shortcut icon" href="http://transnica.com/new/wp-content/themes/betheme/images/favicon.ico" />

<!-- wp_head() -->
<title>TransNIC | Servicio de Transporte &#8211; Nacional &#8211; Internacional </title>
<!-- script | dynamic -->
<script id="mfn-dnmc-config-js">
//<![CDATA[
window.mfn = {mobile_init:1240,nicescroll:40,parallax:"",responsive:1,retina_js:0};
window.mfn_lightbox = {disable:false,disableMobile:false,title:false,};
window.mfn_sliders = {blog:0,clients:0,offer:0,portfolio:0,shop:0,slider:0,testimonials:0};
//]]>
</script>
<link rel="alternate" type="application/rss+xml" title="TransNica &raquo; Feed" href="http://transnica.com/new/feed/" />
<link rel="alternate" type="application/rss+xml" title="TransNica &raquo; RSS de los comentarios" href="http://transnica.com/new/comments/feed/" />
<link rel="alternate" type="application/rss+xml" title="TransNica &raquo; Inicio RSS de los comentarios" href="http://transnica.com/new/demo-home/feed/" />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"http:\/\/s.w.org\/images\/core\/emoji\/72x72\/","ext":".png","source":{"concatemoji":"http:\/\/transnica.com\/new\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.2.22"}};
			!function(a,b,c){function d(a){var c=b.createElement("canvas"),d=c.getContext&&c.getContext("2d");return d&&d.fillText?(d.textBaseline="top",d.font="600 32px Arial","flag"===a?(d.fillText(String.fromCharCode(55356,56812,55356,56807),0,0),c.toDataURL().length>3e3):(d.fillText(String.fromCharCode(55357,56835),0,0),0!==d.getImageData(16,16,1,1).data[0])):!1}function e(a){var c=b.createElement("script");c.src=a,c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var f,g;c.supports={simple:d("simple"),flag:d("flag")},c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.simple&&c.supports.flag||(g=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",g,!1),a.addEventListener("load",g,!1)):(a.attachEvent("onload",g),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),f=c.source||{},f.concatemoji?e(f.concatemoji):f.wpemoji&&f.twemoji&&(e(f.twemoji),e(f.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='layerslider-css'  href='http://transnica.com/new/wp-content/plugins/LayerSlider/static/css/layerslider.css?ver=5.2.0' type='text/css' media='all' />
<link rel='stylesheet' id='ls-google-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato:100,300,regular,700,900%7COpen+Sans:300%7CIndie+Flower:regular%7COswald:300,regular,700&#038;subset=latin' type='text/css' media='all' />
<link rel='stylesheet' id='bsf-Defaults-css'  href='http://transnica.com/new/wp-content/uploads/smile_fonts/Defaults/Defaults.css?ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='contact-form-7-css'  href='http://transnica.com/new/wp-content/plugins/contact-form-7/includes/css/styles.css?ver=4.1' type='text/css' media='all' />
<link rel='stylesheet' id='tp_twitter_plugin_css-css'  href='http://transnica.com/new/wp-content/plugins/recent-tweets-widget/tp_twitter_plugin.css?ver=1.0' type='text/css' media='screen' />
<link rel='stylesheet' id='style-css'  href='http://transnica.com/new/wp-content/themes/betheme/style.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-base-css'  href='http://transnica.com/new/wp-content/themes/betheme/css/base.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-layout-css'  href='http://transnica.com/new/wp-content/themes/betheme/css/layout.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-shortcodes-css'  href='http://transnica.com/new/wp-content/themes/betheme/css/shortcodes.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-animations-css'  href='http://transnica.com/new/wp-content/themes/betheme/assets/animations/animations.min.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-jquery-ui-css'  href='http://transnica.com/new/wp-content/themes/betheme/assets/ui/jquery.ui.all.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-jplayer-css'  href='http://transnica.com/new/wp-content/themes/betheme/assets/jplayer/css/jplayer.blue.monday.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-responsive-css'  href='http://transnica.com/new/wp-content/themes/betheme/css/responsive.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='mfn-skin-blue-css'  href='http://transnica.com/new/wp-content/themes/betheme/css/skins/blue/style.css?ver=20.9.5.3' type='text/css' media='all' />
<link rel='stylesheet' id='Open+Sans-css'  href='http://fonts.googleapis.com/css?family=Open+Sans&#038;ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='Roboto-css'  href='http://fonts.googleapis.com/css?family=Roboto&#038;ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='Lato-css'  href='http://fonts.googleapis.com/css?family=Lato&#038;ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='Patua+One-css'  href='http://fonts.googleapis.com/css?family=Patua+One&#038;ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='js_composer_front-css'  href='http://transnica.com/new/wp-content/plugins/js_composer/assets/css/js_composer.css?ver=4.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='ult-slick-css'  href='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/slick/slick.css?ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='ult-icons-css'  href='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/slick/icons.css?ver=4.2.22' type='text/css' media='all' />
<link rel='stylesheet' id='ult-slick-animate-css'  href='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/slick/animate.min.css?ver=4.2.22' type='text/css' media='all' />
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/jquery.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.2.0'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/LayerSlider/static/js/greensock.js?ver=1.11.2'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/LayerSlider/static/js/layerslider.transitions.js?ver=5.2.0'></script>
<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&#038;sensor=false&#038;ver=4.2.22'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/slick/slick.js?ver=4.2.22'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/slick/custom.js?ver=4.2.22'></script>
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="http://transnica.com/new/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="http://transnica.com/new/wp-includes/wlwmanifest.xml" />
<meta name="generator" content="WordPress 4.2.22" />
<link rel='canonical' href='http://transnica.com/new/' />
<link rel='shortlink' href='http://transnica.com/new/' />
<!-- style | dynamic -->
<style id="mfn-dnmc-style-css">
@media only screen and (min-width: 1240px){body:not(.header-simple) #Top_bar #menu{display:block!important}.tr-menu #Top_bar #menu{background:none!important}#Top_bar .menu > li > ul.mfn-megamenu{width:984px}#Top_bar .menu > li > ul.mfn-megamenu > li{float:left}#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-1{width:100%}#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-2{width:50%}#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-3{width:33.33%}#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-4{width:25%}#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-5{width:20%}#Top_bar .menu > li > ul.mfn-megamenu > li.mfn-megamenu-cols-6{width:16.66%}#Top_bar .menu > li > ul.mfn-megamenu > li > ul{display:block!important;position:inherit;left:auto;top:auto;border-width:0 1px 0 0}#Top_bar .menu > li > ul.mfn-megamenu > li:last-child > ul{border:0}#Top_bar .menu > li > ul.mfn-megamenu > li > ul li{width:auto}#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title{text-transform:uppercase;font-weight:400;background:none}#Top_bar .menu > li > ul.mfn-megamenu a .menu-arrow{display:none}.menuo-right #Top_bar .menu > li > ul.mfn-megamenu{left:auto;right:0}.menuo-right #Top_bar .menu > li > ul.mfn-megamenu-bg{box-sizing:border-box}#Top_bar .menu > li > ul.mfn-megamenu-bg{padding:20px 166px 20px 20px;background-repeat:no-repeat;background-position:right bottom}.rtl #Top_bar .menu > li > ul.mfn-megamenu-bg{padding-left:166px;padding-right:20px;background-position:left bottom}#Top_bar .menu > li > ul.mfn-megamenu-bg > li{background:none}#Top_bar .menu > li > ul.mfn-megamenu-bg > li a{border:none}#Top_bar .menu > li > ul.mfn-megamenu-bg > li > ul{background:none!important;-webkit-box-shadow:0 0 0 0;-moz-box-shadow:0 0 0 0;box-shadow:0 0 0 0}.mm-vertical #Top_bar .container{position:relative;}.mm-vertical #Top_bar .top_bar_left{position:static;}.mm-vertical #Top_bar .menu > li ul{box-shadow:0 0 0 0 transparent!important;background-image:none;}.mm-vertical #Top_bar .menu > li > ul.mfn-megamenu{width:98%!important;margin:0 1%;padding:20px 0;}.mm-vertical.header-plain #Top_bar .menu > li > ul.mfn-megamenu{width:100%!important;margin:0;}.mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li{display:table-cell;float:none!important;width:10%;padding:0 15px;border-right:1px solid rgba(0, 0, 0, 0.05);}.mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li:last-child{border-right-width:0}.mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li.hide-border{border-right-width:0}.mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li a{border-bottom-width:0;padding:9px 15px;line-height:120%;}.mm-vertical #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title{font-weight:700;}.rtl .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li:first-child{border-right-width:0}.rtl .mm-vertical #Top_bar .menu > li > ul.mfn-megamenu > li:last-child{border-right-width:1px}.header-plain:not(.menuo-right) #Header .top_bar_left{width:auto!important}.header-stack.header-center #Top_bar #menu{display:inline-block!important}.header-simple #Top_bar #menu{display:none;height:auto;width:300px;bottom:auto;top:100%;right:1px;position:absolute;margin:0}.header-simple #Header a.responsive-menu-toggle{display:block;right:10px}.header-simple #Top_bar #menu > ul{width:100%;float:left}.header-simple #Top_bar #menu ul li{width:100%;padding-bottom:0;border-right:0;position:relative}.header-simple #Top_bar #menu ul li a{padding:0 20px;margin:0;display:block;height:auto;line-height:normal;border:none}.header-simple #Top_bar #menu ul li a:after{display:none}.header-simple #Top_bar #menu ul li a span{border:none;line-height:44px;display:inline;padding:0}.header-simple #Top_bar #menu ul li.submenu .menu-toggle{display:block;position:absolute;right:0;top:0;width:44px;height:44px;line-height:44px;font-size:30px;font-weight:300;text-align:center;cursor:pointer;color:#444;opacity:0.33;}.header-simple #Top_bar #menu ul li.submenu .menu-toggle:after{content:"+"}.header-simple #Top_bar #menu ul li.hover > .menu-toggle:after{content:"-"}.header-simple #Top_bar #menu ul li.hover a{border-bottom:0}.header-simple #Top_bar #menu ul.mfn-megamenu li .menu-toggle{display:none}.header-simple #Top_bar #menu ul li ul{position:relative!important;left:0!important;top:0;padding:0;margin:0!important;width:auto!important;background-image:none}.header-simple #Top_bar #menu ul li ul li{width:100%!important;display:block;padding:0;}.header-simple #Top_bar #menu ul li ul li a{padding:0 20px 0 30px}.header-simple #Top_bar #menu ul li ul li a .menu-arrow{display:none}.header-simple #Top_bar #menu ul li ul li a span{padding:0}.header-simple #Top_bar #menu ul li ul li a span:after{display:none!important}.header-simple #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title{text-transform:uppercase;font-weight:400}.header-simple #Top_bar .menu > li > ul.mfn-megamenu > li > ul{display:block!important;position:inherit;left:auto;top:auto}.header-simple #Top_bar #menu ul li ul li ul{border-left:0!important;padding:0;top:0}.header-simple #Top_bar #menu ul li ul li ul li a{padding:0 20px 0 40px}.rtl.header-simple #Top_bar #menu{left:1px;right:auto}.rtl.header-simple #Top_bar a.responsive-menu-toggle{left:10px;right:auto}.rtl.header-simple #Top_bar #menu ul li.submenu .menu-toggle{left:0;right:auto}.rtl.header-simple #Top_bar #menu ul li ul{left:auto!important;right:0!important}.rtl.header-simple #Top_bar #menu ul li ul li a{padding:0 30px 0 20px}.rtl.header-simple #Top_bar #menu ul li ul li ul li a{padding:0 40px 0 20px}.menu-highlight #Top_bar .menu > li{margin:0 2px}.menu-highlight:not(.header-creative) #Top_bar .menu > li > a{margin:20px 0;padding:0;-webkit-border-radius:5px;border-radius:5px}.menu-highlight #Top_bar .menu > li > a:after{display:none}.menu-highlight #Top_bar .menu > li > a span:not(.description){line-height:50px}.menu-highlight #Top_bar .menu > li > a span.description{display:none}.menu-highlight.header-stack #Top_bar .menu > li > a{margin:10px 0!important}.menu-highlight.header-stack #Top_bar .menu > li > a span:not(.description){line-height:40px}.menu-highlight.header-transparent #Top_bar .menu > li > a{margin:5px 0}.menu-highlight.header-simple #Top_bar #menu ul li,.menu-highlight.header-creative #Top_bar #menu ul li{margin:0}.menu-highlight.header-simple #Top_bar #menu ul li > a,.menu-highlight.header-creative #Top_bar #menu ul li > a{-webkit-border-radius:0;border-radius:0}.menu-highlight:not(.header-fixed):not(.header-simple) #Top_bar.is-sticky .menu > li > a{margin:10px 0!important;padding:5px 0!important}.menu-highlight:not(.header-fixed):not(.header-simple) #Top_bar.is-sticky .menu > li > a span{line-height:30px!important}.header-modern.menu-highlight.menuo-right .menu_wrapper{margin-right:20px}.menu-line-below #Top_bar .menu > li > a:after{top:auto;bottom:-4px}.menu-line-below #Top_bar.is-sticky .menu > li > a:after{top:auto;bottom:-4px}.menu-line-below-80 #Top_bar:not(.is-sticky) .menu > li > a:after{height:4px;left:10%;top:50%;margin-top:20px;width:80%}.menu-line-below-80-1 #Top_bar:not(.is-sticky) .menu > li > a:after{height:1px;left:10%;top:50%;margin-top:20px;width:80%}.menu-link-color #Top_bar .menu > li > a:after{display:none!important}.menu-arrow-top #Top_bar .menu > li > a:after{background:none repeat scroll 0 0 rgba(0,0,0,0)!important;border-color:#ccc transparent transparent;border-style:solid;border-width:7px 7px 0;display:block;height:0;left:50%;margin-left:-7px;top:0!important;width:0}.menu-arrow-top.header-transparent #Top_bar .menu > li > a:after,.menu-arrow-top.header-plain #Top_bar .menu > li > a:after{display:none}.menu-arrow-top #Top_bar.is-sticky .menu > li > a:after{top:0!important}.menu-arrow-bottom #Top_bar .menu > li > a:after{background:none!important;border-color:transparent transparent #ccc;border-style:solid;border-width:0 7px 7px;display:block;height:0;left:50%;margin-left:-7px;top:auto;bottom:0;width:0}.menu-arrow-bottom.header-transparent #Top_bar .menu > li > a:after,.menu-arrow-bottom.header-plain #Top_bar .menu > li > a:after{display:none}.menu-arrow-bottom #Top_bar.is-sticky .menu > li > a:after{top:auto;bottom:0}.menuo-no-borders #Top_bar .menu > li > a span{border-width:0!important}.menuo-no-borders #Header_creative #Top_bar .menu > li > a span{border-bottom-width:0}.menuo-no-borders.header-plain #Top_bar a#header_cart,.menuo-no-borders.header-plain #Top_bar a#search_button,.menuo-no-borders.header-plain #Top_bar .wpml-languages,.menuo-no-borders.header-plain #Top_bar a.action_button{border-width:0}.menuo-right #Top_bar .menu_wrapper{float:right}.menuo-right.header-stack:not(.header-center) #Top_bar .menu_wrapper{margin-right:150px}body.header-creative{padding-left:50px}body.header-creative.header-open{padding-left:250px}body.error404,body.under-construction,body.template-blank{padding-left:0!important}.header-creative.footer-fixed #Footer,.header-creative.footer-sliding #Footer,.header-creative.footer-stick #Footer.is-sticky{box-sizing:border-box;padding-left:50px;}.header-open.footer-fixed #Footer,.header-open.footer-sliding #Footer,.header-creative.footer-stick #Footer.is-sticky{padding-left:250px;}.header-rtl.header-creative.footer-fixed #Footer,.header-rtl.header-creative.footer-sliding #Footer,.header-rtl.header-creative.footer-stick #Footer.is-sticky{padding-left:0;padding-right:50px;}.header-rtl.header-open.footer-fixed #Footer,.header-rtl.header-open.footer-sliding #Footer,.header-rtl.header-creative.footer-stick #Footer.is-sticky{padding-right:250px;}#Header_creative{background-color:#fff;position:fixed;width:250px;height:100%;left:-200px;top:0;z-index:9002;-webkit-box-shadow:2px 0 4px 2px rgba(0,0,0,.15);box-shadow:2px 0 4px 2px rgba(0,0,0,.15)}#Header_creative .container{width:100%}#Header_creative .creative-wrapper{opacity:0;margin-right:50px}#Header_creative a.creative-menu-toggle{display:block;width:34px;height:34px;line-height:34px;font-size:22px;text-align:center;position:absolute;top:10px;right:8px;border-radius:3px}.admin-bar #Header_creative a.creative-menu-toggle{top:42px}#Header_creative #Top_bar{position:static;width:100%}#Header_creative #Top_bar .top_bar_left{width:100%!important;float:none}#Header_creative #Top_bar .top_bar_right{width:100%!important;float:none;height:auto;margin-bottom:35px;text-align:center;padding:0 20px;top:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}#Header_creative #Top_bar .top_bar_right:before{display:none}#Header_creative #Top_bar .top_bar_right_wrapper{top:0}#Header_creative #Top_bar .logo{float:none;text-align:center;margin:15px 0}#Header_creative #Top_bar #menu{background-color:transparent}#Header_creative #Top_bar .menu_wrapper{float:none;margin:0 0 30px}#Header_creative #Top_bar .menu > li{width:100%;float:none;position:relative}#Header_creative #Top_bar .menu > li > a{padding:0;text-align:center}#Header_creative #Top_bar .menu > li > a:after{display:none}#Header_creative #Top_bar .menu > li > a span{border-right:0;border-bottom-width:1px;line-height:38px}#Header_creative #Top_bar .menu li ul{left:100%;right:auto;top:0;box-shadow:2px 2px 2px 0 rgba(0,0,0,0.03);-webkit-box-shadow:2px 2px 2px 0 rgba(0,0,0,0.03)}#Header_creative #Top_bar .menu > li > ul.mfn-megamenu{margin:0;width:700px!important;}#Header_creative #Top_bar .menu > li > ul.mfn-megamenu > li > ul{left:0}#Header_creative #Top_bar .menu li ul li a{padding-top:9px;padding-bottom:8px}#Header_creative #Top_bar .menu li ul li ul{top:0}#Header_creative #Top_bar .menu > li > a span.description{display:block;font-size:13px;line-height:28px!important;clear:both}#Header_creative #Top_bar .search_wrapper{left:100%;top:auto;bottom:0}#Header_creative #Top_bar a#header_cart{display:inline-block;float:none;top:3px}#Header_creative #Top_bar a#search_button{display:inline-block;float:none;top:3px}#Header_creative #Top_bar .wpml-languages{display:inline-block;float:none;top:0}#Header_creative #Top_bar .wpml-languages.enabled:hover a.active{padding-bottom:11px}#Header_creative #Top_bar .action_button{display:inline-block;float:none;top:16px;margin:0}#Header_creative #Top_bar .banner_wrapper{display:block;text-align:center}#Header_creative #Top_bar .banner_wrapper img{max-width:100%;height:auto;display:inline-block}#Header_creative #Action_bar{display:none;position:absolute;bottom:0;top:auto;clear:both;padding:0 20px;box-sizing:border-box}#Header_creative #Action_bar .social{float:none;text-align:center;padding:5px 0 15px}#Header_creative #Action_bar .social li{margin-bottom:2px}#Header_creative .social li a{color:rgba(0,0,0,.5)}#Header_creative .social li a:hover{color:#000}#Header_creative .creative-social{position:absolute;bottom:10px;right:0;width:50px}#Header_creative .creative-social li{display:block;float:none;width:100%;text-align:center;margin-bottom:5px}.header-creative .fixed-nav.fixed-nav-prev{margin-left:50px}.header-creative.header-open .fixed-nav.fixed-nav-prev{margin-left:250px}.menuo-last #Header_creative #Top_bar .menu li.last ul{top:auto;bottom:0}.header-open #Header_creative{left:0}.header-open #Header_creative .creative-wrapper{opacity:1;margin:0!important;}.header-open #Header_creative .creative-menu-toggle,.header-open #Header_creative .creative-social{display:none}.header-open #Header_creative #Action_bar{display:block}body.header-rtl.header-creative{padding-left:0;padding-right:50px}.header-rtl #Header_creative{left:auto;right:-200px}.header-rtl.nice-scroll #Header_creative{margin-right:10px}.header-rtl #Header_creative .creative-wrapper{margin-left:50px;margin-right:0}.header-rtl #Header_creative a.creative-menu-toggle{left:8px;right:auto}.header-rtl #Header_creative .creative-social{left:0;right:auto}.header-rtl #Footer #back_to_top.sticky{right:125px}.header-rtl #popup_contact{right:70px}.header-rtl #Header_creative #Top_bar .menu li ul{left:auto;right:100%}.header-rtl #Header_creative #Top_bar .search_wrapper{left:auto;right:100%;}.header-rtl .fixed-nav.fixed-nav-prev{margin-left:0!important}.header-rtl .fixed-nav.fixed-nav-next{margin-right:50px}body.header-rtl.header-creative.header-open{padding-left:0;padding-right:250px!important}.header-rtl.header-open #Header_creative{left:auto;right:0}.header-rtl.header-open #Footer #back_to_top.sticky{right:325px}.header-rtl.header-open #popup_contact{right:270px}.header-rtl.header-open .fixed-nav.fixed-nav-next{margin-right:250px}#Header_creative.active{left:-1px;}.header-rtl #Header_creative.active{left:auto;right:-1px;}#Header_creative.active .creative-wrapper{opacity:1;margin:0}.header-creative .vc_row[data-vc-full-width]{padding-left:50px}.header-creative.header-open .vc_row[data-vc-full-width]{padding-left:250px}.header-open .vc_parallax .vc_parallax-inner { left:auto; width: calc(100% - 250px); }.header-open.header-rtl .vc_parallax .vc_parallax-inner { left:0; right:auto; }#Header_creative.scroll{height:100%;overflow-y:auto}#Header_creative.scroll:not(.dropdown) .menu li ul{display:none!important}#Header_creative.scroll #Action_bar{position:static}#Header_creative.dropdown{outline:none}#Header_creative.dropdown #Top_bar .menu_wrapper{float:left}#Header_creative.dropdown #Top_bar #menu ul li{position:relative;float:left}#Header_creative.dropdown #Top_bar #menu ul li a:after{display:none}#Header_creative.dropdown #Top_bar #menu ul li a span{line-height:38px;padding:0}#Header_creative.dropdown #Top_bar #menu ul li.submenu .menu-toggle{display:block;position:absolute;right:0;top:0;width:38px;height:38px;line-height:38px;font-size:26px;font-weight:300;text-align:center;cursor:pointer;color:#444;opacity:0.33;}#Header_creative.dropdown #Top_bar #menu ul li.submenu .menu-toggle:after{content:"+"}#Header_creative.dropdown #Top_bar #menu ul li.hover > .menu-toggle:after{content:"-"}#Header_creative.dropdown #Top_bar #menu ul li.hover a{border-bottom:0}#Header_creative.dropdown #Top_bar #menu ul.mfn-megamenu li .menu-toggle{display:none}#Header_creative.dropdown #Top_bar #menu ul li ul{position:relative!important;left:0!important;top:0;padding:0;margin-left:0!important;width:auto!important;background-image:none}#Header_creative.dropdown #Top_bar #menu ul li ul li{width:100%!important}#Header_creative.dropdown #Top_bar #menu ul li ul li a{padding:0 10px;text-align:center}#Header_creative.dropdown #Top_bar #menu ul li ul li a .menu-arrow{display:none}#Header_creative.dropdown #Top_bar #menu ul li ul li a span{padding:0}#Header_creative.dropdown #Top_bar #menu ul li ul li a span:after{display:none!important}#Header_creative.dropdown #Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title{text-transform:uppercase;font-weight:400}#Header_creative.dropdown #Top_bar .menu > li > ul.mfn-megamenu > li > ul{display:block!important;position:inherit;left:auto;top:auto}#Header_creative.dropdown #Top_bar #menu ul li ul li ul{border-left:0!important;padding:0;top:0}#Header_creative{transition: left .5s ease-in-out, right .5s ease-in-out;}#Header_creative .creative-wrapper{transition: opacity .5s ease-in-out, margin 0s ease-in-out .5s;}#Header_creative.active .creative-wrapper{transition: opacity .5s ease-in-out, margin 0s ease-in-out;}}@media only screen and (min-width: 1240px){#Top_bar.is-sticky{position:fixed!important;width:100%;left:0;top:-60px;height:60px;z-index:701;background:#fff;opacity:.97;filter:alpha(opacity = 97);-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.1);box-shadow:0 2px 5px 0 rgba(0,0,0,0.1)}.layout-boxed.header-boxed #Top_bar.is-sticky{max-width:1240px;left:50%;-webkit-transform:translateX(-50%);transform:translateX(-50%)}.layout-boxed.header-boxed.nice-scroll #Top_bar.is-sticky{margin-left:-5px}#Top_bar.is-sticky .top_bar_left,#Top_bar.is-sticky .top_bar_right,#Top_bar.is-sticky .top_bar_right:before{background:none}#Top_bar.is-sticky .top_bar_right{top:-4px;height:auto;}#Top_bar.is-sticky .top_bar_right_wrapper{top:15px}.header-plain #Top_bar.is-sticky .top_bar_right_wrapper{top:0}#Top_bar.is-sticky .logo{width:auto;margin:0 30px 0 20px;padding:0}#Top_bar.is-sticky #logo{padding:5px 0!important;height:50px!important;line-height:50px!important}.logo-no-sticky-padding #Top_bar.is-sticky #logo{height:60px!important;line-height:60px!important}#Top_bar.is-sticky #logo img.logo-main{display:none}#Top_bar.is-sticky #logo img.logo-sticky{display:inline;max-height:35px;}#Top_bar.is-sticky .menu_wrapper{clear:none}#Top_bar.is-sticky .menu_wrapper .menu > li > a{padding:15px 0}#Top_bar.is-sticky .menu > li > a,#Top_bar.is-sticky .menu > li > a span{line-height:30px}#Top_bar.is-sticky .menu > li > a:after{top:auto;bottom:-4px}#Top_bar.is-sticky .menu > li > a span.description{display:none}#Top_bar.is-sticky .secondary_menu_wrapper,#Top_bar.is-sticky .banner_wrapper{display:none}.header-overlay #Top_bar.is-sticky{display:none}.sticky-dark #Top_bar.is-sticky{background:rgba(0,0,0,.8)}.sticky-dark #Top_bar.is-sticky #menu{background:rgba(0,0,0,.8)}.sticky-dark #Top_bar.is-sticky .menu > li > a{color:#fff}.sticky-dark #Top_bar.is-sticky .top_bar_right a{color:rgba(255,255,255,.5)}.sticky-dark #Top_bar.is-sticky .wpml-languages a.active,.sticky-dark #Top_bar.is-sticky .wpml-languages ul.wpml-lang-dropdown{background:rgba(0,0,0,0.3);border-color:rgba(0,0,0,0.1)}}@media only screen and (min-width: 768px) and (max-width: 1240px){.header_placeholder{height:0!important}}@media only screen and (max-width: 1239px){#Top_bar #menu{display:none;height:auto;width:300px;bottom:auto;top:100%;right:1px;position:absolute;margin:0}#Top_bar a.responsive-menu-toggle{display:block}#Top_bar #menu > ul{width:100%;float:left}#Top_bar #menu ul li{width:100%;padding-bottom:0;border-right:0;position:relative}#Top_bar #menu ul li a{padding:0 25px;margin:0;display:block;height:auto;line-height:normal;border:none}#Top_bar #menu ul li a:after{display:none}#Top_bar #menu ul li a span{border:none;line-height:44px;display:inline;padding:0}#Top_bar #menu ul li a span.description{margin:0 0 0 5px}#Top_bar #menu ul li.submenu .menu-toggle{display:block;position:absolute;right:15px;top:0;width:44px;height:44px;line-height:44px;font-size:30px;font-weight:300;text-align:center;cursor:pointer;color:#444;opacity:0.33;}#Top_bar #menu ul li.submenu .menu-toggle:after{content:"+"}#Top_bar #menu ul li.hover > .menu-toggle:after{content:"-"}#Top_bar #menu ul li.hover a{border-bottom:0}#Top_bar #menu ul li a span:after{display:none!important}#Top_bar #menu ul.mfn-megamenu li .menu-toggle{display:none}#Top_bar #menu ul li ul{position:relative!important;left:0!important;top:0;padding:0;margin-left:0!important;width:auto!important;background-image:none!important;box-shadow:0 0 0 0 transparent!important;-webkit-box-shadow:0 0 0 0 transparent!important}#Top_bar #menu ul li ul li{width:100%!important}#Top_bar #menu ul li ul li a{padding:0 20px 0 35px}#Top_bar #menu ul li ul li a .menu-arrow{display:none}#Top_bar #menu ul li ul li a span{padding:0}#Top_bar #menu ul li ul li a span:after{display:none!important}#Top_bar .menu > li > ul.mfn-megamenu a.mfn-megamenu-title{text-transform:uppercase;font-weight:400}#Top_bar .menu > li > ul.mfn-megamenu > li > ul{display:block!important;position:inherit;left:auto;top:auto}#Top_bar #menu ul li ul li ul{border-left:0!important;padding:0;top:0}#Top_bar #menu ul li ul li ul li a{padding:0 20px 0 45px}.rtl #Top_bar #menu{left:1px;right:auto}.rtl #Top_bar a.responsive-menu-toggle{left:20px;right:auto}.rtl #Top_bar #menu ul li.submenu .menu-toggle{left:15px;right:auto;border-left:none;border-right:1px solid #eee}.rtl #Top_bar #menu ul li ul{left:auto!important;right:0!important}.rtl #Top_bar #menu ul li ul li a{padding:0 30px 0 20px}.rtl #Top_bar #menu ul li ul li ul li a{padding:0 40px 0 20px}.header-stack .menu_wrapper a.responsive-menu-toggle{position:static!important;margin:11px 0!important}.header-stack .menu_wrapper #menu{left:0;right:auto}.rtl.header-stack #Top_bar #menu{left:auto;right:0}.admin-bar #Header_creative{top:32px}.header-creative.layout-boxed{padding-top:85px}.header-creative.layout-full-width #Wrapper{padding-top:60px}#Header_creative{position:fixed;width:100%;left:0!important;top:0;z-index:1001}#Header_creative .creative-wrapper{display:block!important;opacity:1!important}#Header_creative .creative-menu-toggle,#Header_creative .creative-social{display:none!important;opacity:1!important;filter:alpha(opacity=100)!important}#Header_creative #Top_bar{position:static;width:100%}#Header_creative #Top_bar #logo{height:50px;line-height:50px;padding:5px 0}#Header_creative #Top_bar #logo img.logo-sticky{max-height:40px!important}#Header_creative #logo img.logo-main{display:none}#Header_creative #logo img.logo-sticky{display:inline-block}.logo-no-sticky-padding #Header_creative #Top_bar #logo{height:60px;line-height:60px;padding:0}.logo-no-sticky-padding #Header_creative #Top_bar #logo img.logo-sticky{max-height:60px!important}#Header_creative #Action_bar{display:none}#Header_creative #Top_bar .top_bar_right{height:60px;top:0}#Header_creative #Top_bar .top_bar_right:before{display:none}#Header_creative #Top_bar .top_bar_right_wrapper{top:0;padding-top:9px}#Header_creative.scroll{overflow:visible!important}}html {background-color: #FCFCFC;}#Wrapper, #Content {background-color: #FCFCFC;}body, button, span.date_label, .timeline_items li h3 span, input[type="submit"], input[type="reset"], input[type="button"],input[type="text"], input[type="password"], input[type="tel"], input[type="email"], textarea, select, .offer_li .title h3 {font-family: "Open Sans", Arial, Tahoma, sans-serif;}#menu > ul > li > a, a.action_button, #overlay-menu ul li a {font-family: "Roboto", Arial, Tahoma, sans-serif;}#Subheader .title {font-family: "Lato", Arial, Tahoma, sans-serif;}h1, h2, h3, h4, .text-logo #logo {font-family: "Lato", Arial, Tahoma, sans-serif;}h5, h6 {font-family: "Roboto", Arial, Tahoma, sans-serif;}blockquote {font-family: "Lato", Arial, Tahoma, sans-serif;}.chart_box .chart .num, .counter .desc_wrapper .number-wrapper, .how_it_works .image .number,.pricing-box .plan-header .price, .quick_fact .number-wrapper, .woocommerce .product div.entry-summary .price {font-family: "Roboto", Arial, Tahoma, sans-serif;}body {font-size: 15px;line-height: 25px;font-weight: 400;letter-spacing: 0px;}big,.big {font-size: 16px;line-height: 28px;font-weight: 400;letter-spacing: 0px;}#menu > ul > li > a, a.action_button, #overlay-menu ul li a{font-size: 14px;font-weight: 400;letter-spacing: 0px;}#overlay-menu ul li a{line-height: 21px;}#Subheader .title {font-size: 30px;line-height: 35px;font-weight: 400;letter-spacing: 1px;font-style: italic;}h1, .text-logo #logo {font-size: 42px;line-height: 50px;font-weight: 400;letter-spacing: 0px;}h2 {font-size: 38px;line-height: 34px;font-weight: 300;letter-spacing: 0px;}h3 {font-size: 28px;line-height: 29px;font-weight: 300;letter-spacing: 0px;}h4 {font-size: 24px;line-height: 25px;font-weight: 500;letter-spacing: 0px;}h5 {font-size: 15px;line-height: 25px;font-weight: 700;letter-spacing: 0px;}h6 {font-size: 13px;line-height: 25px;font-weight: 400;letter-spacing: 0px;}#Intro .intro-title {font-size: 70px;line-height: 70px;font-weight: 400;letter-spacing: 0px;}.with_aside .sidebar.columns {width: 23%;}.with_aside .sections_group {width: 77%;}.aside_both .sidebar.columns {width: 18%;}.aside_both .sidebar.sidebar-1{margin-left: -82%;}.aside_both .sections_group {width: 64%;margin-left: 18%;}@media only screen and (min-width:1240px){#Wrapper, .with_aside .content_wrapper {max-width: 1240px;}.section_wrapper, .container {max-width: 1220px;}.layout-boxed.header-boxed #Top_bar.is-sticky{max-width: 1240px;}}@media only screen and (max-width: 767px){.section_wrapper,.container,.four.columns .widget-area { max-width: 700px !important; }}#Top_bar #logo,.header-fixed #Top_bar #logo,.header-plain #Top_bar #logo,.header-transparent #Top_bar #logo {height: 60px;line-height: 60px;padding: 15px 0;}.logo-overflow #Top_bar:not(.is-sticky) .logo {height: 90px;}#Top_bar .menu > li > a {padding: 15px 0;}.menu-highlight:not(.header-creative) #Top_bar .menu > li > a {margin: 20px 0;}.header-plain:not(.menu-highlight) #Top_bar .menu > li > a span:not(.description) {line-height: 90px;}.header-fixed #Top_bar .menu > li > a {padding: 30px 0;}#Top_bar .top_bar_right,.header-plain #Top_bar .top_bar_right {height: 90px;}#Top_bar .top_bar_right_wrapper {top: 25px;}.header-plain #Top_bar a#header_cart,.header-plain #Top_bar a#search_button,.header-plain #Top_bar .wpml-languages,.header-plain #Top_bar a.action_button {line-height: 90px;}@media only screen and (max-width: 767px){#Top_bar a.responsive-menu-toggle {top: 40px;}.mobile-header-mini #Top_bar #logo{height:50px!important;line-height:50px!important;margin:5px 0;}}.twentytwenty-before-label::before { content: "Before";}.twentytwenty-after-label::before { content: "After";}#Side_slide{right:-250px;width:250px;}.blog-teaser li .desc-wrapper .desc{background-position-y:-1px;}
</style>
<!-- style | custom css | theme options -->
<style id="mfn-dnmc-theme-css">
.header-classic #Top_bar{
  background: rgba(0, 0, 0, 0.8) !important;;
}

#Top_bar .menu > li > a span {
    border-color: #333;;
    color: #999;
}


#Action_bar .contact_details li {
    color: rgba(255, 255, 255, 0.9);
}
#Action_bar .social li a {
    color: rgba(255, 255, 255, 0.7);
}


body:not(.template-slider) #Header {
    min-height: 150px;
}
#Subheader {
    background-color: rgba(19, 191, 177, 0.7) !important;
}
</style>
<!-- style | custom css | page options -->
<style id="mfn-dnmc-page-css">
.vc_images_carousel .vc_carousel-control .icon-next::before{right: -30px;}

.vc_images_carousel .vc_carousel-control .icon-prev::before{left: -40px;}
</style>
<meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
<!--[if IE 8]><link rel="stylesheet" type="text/css" href="http://transnica.com/new/wp-content/plugins/js_composer/assets/css/vc-ie8.css" media="screen"><![endif]--><style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1429578154559{padding-top: 70px !important;padding-bottom: 70px !important;}.vc_custom_1430158642203{padding-top: 130px !important;padding-bottom: 130px !important;background-color: #1b11a0 !important;}.vc_custom_1430158685719{padding-top: 120px !important;padding-bottom: 120px !important;background-color: #1b11a0 !important;}</style><noscript><style> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript></head>

<!-- body -->
<body class="home page page-id-13 page-template-default template-slider  color-blue style-default button-default layout-full-width nice-scroll-on hide-love header-classic sticky-header sticky-dark ab-show subheader-transparent subheader-title-left menu-arrows footer-sliding mobile-mini-mr-ll be-20953 wpb-js-composer js-comp-ver-4.4.3 vc_responsive">

	<!-- mfn_hook_top --><!-- mfn_hook_top -->


	<!-- #Wrapper -->
	<div id="Wrapper">



		<!-- #Header_bg -->
		<div id="Header_wrapper" >

			<!-- #Header -->
			<header id="Header">

	<div id="Action_bar">
		<div class="container">
			<div class="column one">

				<ul class="contact_details">
					<li class="slogan">Preguntas?</li><li class="phone"><i class="icon-phone"></i><a href="tel:+(506)4404-0500">+(506) 4404-0500</a></li><li class="phone"><i class="icon-phone"></i><a href="tel:+(505)8287-1188">+(505) 8287-1188</a></li><li class="mail"><i class="icon-mail-line"></i><a href="mailto:info@transnic.com">info@transnic.com</a></li>				</ul>

				<ul class="social"><li class="facebook"><a  href="https://www.facebook.com/pages/Transnica/844296035599800" title="Facebook"><i class="icon-facebook"></i></a></li></ul>
			</div>
		</div>
	</div>


<!-- .header_placeholder 4sticky  -->
<div class="header_placeholder"></div>

<div id="Top_bar" class="loading">

	<div class="container">
		<div class="column one">

			<div class="top_bar_left clearfix">

				<!-- Logo -->
				<div class="logo"><span id="logo" data-height="60" data-padding="15"><img class="logo-main scale-with-grid" src="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-retina="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-height="143" alt="logo-w" /><img class="logo-sticky scale-with-grid" src="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-retina="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-height="143" alt="logo-w" /><img class="logo-mobile scale-with-grid" src="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-retina="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-height="143" alt="logo-w" /><img class="logo-mobile-sticky scale-with-grid" src="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-retina="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" data-height="143" alt="logo-w" /></span></div>
				<div class="menu_wrapper">
					<nav id="menu"><ul id="menu-x-demo-menu" class="menu menu-main"><li id="menu-item-219" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-13 current_page_item"><a href="http://transnica.com/new/"><span>Inicio</span></a></li>
<li id="menu-item-321" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children"><a href="#"><span>TransNIC</span></a>
<ul class="sub-menu">
	<li id="menu-item-316" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/quienes-somos/"><span>Quienes somos</span></a></li>
	<li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/nuestra-historia/"><span>Nuestras Historia</span></a></li>
	<li id="menu-item-317" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/terminales-a-su-medida/"><span>Terminales a su medida</span></a></li>
	<li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/nuestras-unidades/"><span>Nuestras Unidades</span></a></li>
	<li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/horarios-para-su-conveniencia/"><span>Horarios</span></a></li>
</ul>
</li>
<li id="menu-item-333" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/preguntas-frecuentes/"><span>Preguntas Frecuentes</span></a></li>
<li id="menu-item-234" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/noticias/"><span>Noticias</span></a></li>
<li id="menu-item-534" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/paquetes-turisticos/"><span>Paquetes Turísticos</span></a></li>
<li id="menu-item-240" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="http://transnica.com/new/contactenos/"><span>Contáctenos</span></a></li>
</ul></nav><a class="responsive-menu-toggle  is-sticky" href="#"><i class="icon-menu-fine"></i></a>
				</div>

				<div class="secondary_menu_wrapper">
					<!-- #secondary-menu -->
					<nav id="secondary-menu" class="menu-main-menu-container"><ul id="menu-main-menu" class="secondary-menu"><li id="menu-item-184" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-184"><a href="http://transnica.com/new/home/">Home</a></li>
<li id="menu-item-183" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-183"><a href="http://transnica.com/new/about/">About our clinic</a></li>
<li id="menu-item-186" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-186"><a href="http://transnica.com/new/our-offer/">What we offer</a></li>
<li id="menu-item-185" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-185"><a href="http://transnica.com/new/contact/">Make an appointment</a></li>
</ul></nav>				</div>

				<div class="banner_wrapper">
									</div>

				<div class="search_wrapper">
					<!-- #searchform -->


<form method="get" id="searchform" action="http://transnica.com/new/">


	<i class="icon_search icon-search-fine"></i>
	<a href="#" class="icon_close"><i class="icon-cancel-fine"></i></a>

	<input type="text" class="field" name="s" placeholder="Buscar" />
	<input type="submit" class="submit" value="" style="display:none;" />

</form>
				</div>

			</div>

			<div class="top_bar_right"><div class="top_bar_right_wrapper"><a id="search_button" href="#"><i class="icon-search-fine"></i></a></div></div>
		</div>
	</div>
</div>				 <div class="mfn-main-slider" id="mfn-layer-slider"><script type="text/javascript">var lsjQuery = jQuery;</script><script type="text/javascript"> lsjQuery(document).ready(function() { if(typeof lsjQuery.fn.layerSlider == "undefined") { lsShowNotice('layerslider_1','jquery'); } else { lsjQuery("#layerslider_1").layerSlider({responsiveUnder: 780, skin: 'noskin', skinsPath: 'http://transnica.com/new/wp-content/plugins/LayerSlider/static/skins/'}) } }); </script><div class="ls-wp-fullwidth-container" style="height:900px;"><div class="ls-wp-fullwidth-helper"><div id="layerslider_1" class="ls-wp-container" style="width:100%;height:900px;margin:0 auto;margin-bottom: 0px;"><div class="ls-slide" data-ls="slidedelay:6000;transition2d:9;"><img src="http://transnica.com/new/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://transnica.com/new/wp-content/uploads/2015/02/bg1.jpg" class="ls-bg" alt="bg1" /><img class="ls-l" style="top:278px;left:47%;white-space: nowrap;" src="http://transnica.com/new/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://transnica.com/new/wp-content/uploads/2015/02/bus1.png" alt=""><img class="ls-l" style="top:84px;left:50%;white-space: nowrap;" src="http://transnica.com/new/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://transnica.com/new/wp-content/uploads/2015/02/logo-w.png" alt=""></div><div class="ls-slide" data-ls="slidedelay:6000;transition2d:9;"><img src="http://transnica.com/new/wp-content/plugins/LayerSlider/static/img/blank.gif" data-src="http://transnica.com/new/wp-content/uploads/2015/02/bg2.jpg" class="ls-bg" alt="bg2" /><h2 class="ls-l" style="top:395px;left:50%;font-family:lato;font-size:50px;color:#ffffff;white-space: nowrap;" data-ls="offsetxin:-380;">CUANDO VIAJAR ES UN PLACER</h2></div></div></div></div></div>			</header>


		</div>


		<!-- mfn_hook_content_before --><!-- mfn_hook_content_before -->
<!-- #Content -->
<div id="Content">
	<div class="content_wrapper clearfix">

		<!-- .sections_group -->
		<div class="sections_group">

			<div class="entry-content" itemprop="mainContentOfPage">

				<div class="section the_content has_content"><div class="section_wrapper"><div class="the_content_wrapper"><div class="vc_row wpb_row vc_row-fluid vc_custom_1429578154559"  >
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h1 style="text-align: center;"><span style="color: #000080;">Somos t</span><span style="color: #000080;">u mejor opción para viajar entre Costa Rica, Nicaragua y Honduras</span></h1>

		</div>
	</div> 	<div class="vc_row wpb_row vc_inner vc_row-fluid"  >
	<div class="vc_col-sm-6 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<p>Somos la empresa costarricense número uno en brindar servicio de transporte terrestre cómodo, seguro y del más alto nivel a quienes requieran moverse entre Costa Rica, Nicaragua y Honduras.</p>
<p>Viajá de la manera más cómoda y segura en nuestra exclusiva línea de autobuses de lujo, los cuales cuentan con aire acondicionado, asientos reclinables, internet inalámbrica, televisión, servicio sanitario y atención personalizada de nuestros asistentes de viaje.</p>
<p>Ofrecemos también nuestra línea Ejecutiva, con alimentación y refrigerio a bordo y con asistencia en trámites fronterizos. Ahora con nuestra flotilla de buses de dos pisos.</p>
<h4>No esperés más, viajá por Transnica, una opción insuperable.</h4>

		</div>
	</div>
		</div>
	</div>

	<div class="vc_col-sm-6 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

	<div class="wpb_single_image wpb_content_element vc_align_left">
		<div class="wpb_wrapper">

			<div class="vc_single_image-wrapper   vc_box_border_grey"><img width="745" height="497" src="http://transnica.com/new/wp-content/uploads/2015/03/transnica-new.jpg" class="vc_single_image-img attachment-full" alt="transnica-new" /></div>
		</div>
	</div>
		</div>
	</div>
</div>
		</div>
	</div>
</div><!-- Row Backgrounds --><div class="upb_no_bg" data-fadeout="off" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="false"  ></div>	<div class="vc_row wpb_row vc_row-fluid"  >
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
		<div class="wpb_wrapper">
			<div class="wpb_images_carousel wpb_content_element vc_clearfix">
	<div class="wpb_wrapper">
				<div id="vc_images-carousel-1-1548018474" data-ride="vc_carousel"
			 data-wrap="true" style="width: 300px;"
			 data-interval="2500" data-auto-height="yes"
			 data-mode="horizontal" data-partial="false"
			 data-per-view="4"
			 data-hide-on-end="false" class="vc_slide vc_images_carousel">
						<!-- Wrapper for slides -->
			<div class="vc_carousel-inner">
				<div class="vc_carousel-slideline">
					<div class="vc_carousel-slideline-inner">
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8314-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8314-300x200.jpg" class="attachment-medium" alt="IMG_8314" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8315-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8315-300x200.jpg" class="attachment-medium" alt="IMG_8315" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8318-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8318-300x200.jpg" class="attachment-medium" alt="IMG_8318" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8337-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8337-300x200.jpg" class="attachment-medium" alt="IMG_8337" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8338-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8338-300x200.jpg" class="attachment-medium" alt="IMG_8338" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8358-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8358-300x200.jpg" class="attachment-medium" alt="IMG_8358" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8374-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8374-300x200.jpg" class="attachment-medium" alt="IMG_8374" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8380-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8380-300x200.jpg" class="attachment-medium" alt="IMG_8380" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8399-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8399-300x200.jpg" class="attachment-medium" alt="IMG_8399" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8403-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8403-300x200.jpg" class="attachment-medium" alt="IMG_8403" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8406-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8406-300x200.jpg" class="attachment-medium" alt="IMG_8406" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8408-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8408-300x200.jpg" class="attachment-medium" alt="IMG_8408" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8409-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8409-300x200.jpg" class="attachment-medium" alt="IMG_8409" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8415-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8415-300x200.jpg" class="attachment-medium" alt="IMG_8415" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8422-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8422-300x200.jpg" class="attachment-medium" alt="IMG_8422" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8425-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8425-300x200.jpg" class="attachment-medium" alt="IMG_8425" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8429-1024x682.jpg"  rel="prettyPhoto[rel-13-564065938]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8429-300x200.jpg" class="attachment-medium" alt="IMG_8429" />								</a>
															</div>
						</div>
											</div>
				</div>
			</div>
						<!-- Controls -->
			<a class="vc_left vc_carousel-control" href="#vc_images-carousel-1-1548018474" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="vc_right vc_carousel-control" href="#vc_images-carousel-1-1548018474" data-slide="next">
				<span class="icon-next"></span>
			</a>
					</div>
	</div></div>
		</div>
	</div>
</div>	<div class="vc_row wpb_row vc_row-fluid"  >
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
		<div class="wpb_wrapper">
			<div class="vc_empty_space"  style="height: 15px" ><span class="vc_empty_space_inner"></span></div>


	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_top-to-bottom">
		<div class="wpb_wrapper">
			<h2 style="text-align: center;"><span style="color: #333399;">HORARIOS A SU CONVENIENCIA</span></h2>

		</div>
	</div> <div class="vc_empty_space"  style="height: 15px" ><span class="vc_empty_space_inner"></span></div>


	<div class="wpb_text_column wpb_content_element  wpb_animate_when_almost_visible wpb_left-to-right">
		<div class="wpb_wrapper">
			<p><strong>Para su comodidad, esté en cualquiera de los tres países en donde operamos, estos son nuestros horarios:</strong></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="150"><strong>SENTIDO<br />
SAN JOSÉ – MANAGUA</strong></td>
<td width="150"><strong>SENTIDO<br />
MANAGUA – SAN JOSÉ</strong></td>
</tr>
<tr>
<td width="150">2 a.m.</td>
<td width="150"> 5 a.m.</td>
</tr>
<tr>
<td width="150">4 a.m.</td>
<td width="150">7 a.m.</td>
</tr>
<tr>
<td width="150">5 a.m.</p>
<p>9 a.m.</td>
<td width="150">10 a.m.</td>
</tr>
<tr>
<td width="150"></td>
<td width="150">12 a.m.</td>
</tr>
<tr>
<td width="150">12 medio día (*)</td>
<td width="150">2 p.m. (*)</td>
</tr>
</tbody>
</table>
<p><span style="text-decoration: underline; color: #808080;">(*) <em>Servicio Ejecutivo Plus</em></span></p>
<p>&nbsp;</p>
<table>
<tbody>
<tr>
<td width="256"><strong>Costa Rica a Honduras</strong></td>
<td width="235"><strong>Nicaragua a Honduras</strong></td>
</tr>
<tr>
<td width="256">2 a.m.</td>
<td width="235">11:30 a.m.</td>
</tr>
<tr>
<td width="256"><strong>Honduras a Costa Rica</strong></td>
<td width="235"><strong>Honduras a Nicaragua</strong></td>
</tr>
<tr>
<td width="256">5 a.m.</td>
<td width="235">5 a.m.</td>
</tr>
</tbody>
</table>

		</div>
	</div> <div class="vc_empty_space"  style="height: 40px" ><span class="vc_empty_space_inner"></span></div>


		</div>
	</div>
</div>	<div class="vc_row wpb_row vc_row-fluid"  >
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
		<div class="wpb_wrapper">
			<div class="wpb_images_carousel wpb_content_element vc_clearfix">
	<div class="wpb_wrapper">
				<div id="vc_images-carousel-2-1548018474" data-ride="vc_carousel"
			 data-wrap="true" style="width: 300px;"
			 data-interval="2500" data-auto-height="yes"
			 data-mode="horizontal" data-partial="false"
			 data-per-view="4"
			 data-hide-on-end="false" class="vc_slide vc_images_carousel">
						<!-- Wrapper for slides -->
			<div class="vc_carousel-inner">
				<div class="vc_carousel-slideline">
					<div class="vc_carousel-slideline-inner">
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8136-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8136-300x200.jpg" class="attachment-medium" alt="IMG_8136" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8137-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8137-300x200.jpg" class="attachment-medium" alt="IMG_8137" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8138-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8138-300x200.jpg" class="attachment-medium" alt="IMG_8138" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8140-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8140-300x200.jpg" class="attachment-medium" alt="IMG_8140" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8141-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8141-300x200.jpg" class="attachment-medium" alt="IMG_8141" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8142-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8142-300x200.jpg" class="attachment-medium" alt="IMG_8142" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8143-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8143-300x200.jpg" class="attachment-medium" alt="IMG_8143" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8144-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8144-300x200.jpg" class="attachment-medium" alt="IMG_8144" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8146-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8146-300x200.jpg" class="attachment-medium" alt="IMG_8146" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8148-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8148-300x200.jpg" class="attachment-medium" alt="IMG_8148" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8150-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8150-300x200.jpg" class="attachment-medium" alt="IMG_8150" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8152-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8152-300x200.jpg" class="attachment-medium" alt="IMG_8152" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8154-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8154-300x200.jpg" class="attachment-medium" alt="IMG_8154" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8155-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8155-300x200.jpg" class="attachment-medium" alt="IMG_8155" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8156-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8156-300x200.jpg" class="attachment-medium" alt="IMG_8156" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8157-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8157-300x200.jpg" class="attachment-medium" alt="IMG_8157" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8158-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8158-300x200.jpg" class="attachment-medium" alt="IMG_8158" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8160-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8160-300x200.jpg" class="attachment-medium" alt="IMG_8160" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8164-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8164-300x200.jpg" class="attachment-medium" alt="IMG_8164" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8166-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8166-300x200.jpg" class="attachment-medium" alt="IMG_8166" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8168-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8168-300x200.jpg" class="attachment-medium" alt="IMG_8168" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8169-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8169-300x200.jpg" class="attachment-medium" alt="IMG_8169" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8171-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8171-300x200.jpg" class="attachment-medium" alt="IMG_8171" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8172-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8172-300x200.jpg" class="attachment-medium" alt="IMG_8172" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8175-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8175-300x200.jpg" class="attachment-medium" alt="IMG_8175" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8177-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8177-300x200.jpg" class="attachment-medium" alt="IMG_8177" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8179-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8179-300x200.jpg" class="attachment-medium" alt="IMG_8179" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8182-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8182-300x200.jpg" class="attachment-medium" alt="IMG_8182" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8183-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8183-300x200.jpg" class="attachment-medium" alt="IMG_8183" />								</a>
															</div>
						</div>
																		<div class="vc_item">
							<div class="vc_inner">
																								<a class="prettyphoto"
								   href="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8184-1024x682.jpg"  rel="prettyPhoto[rel-13-713059301]">
									<img width="300" height="200" src="http://transnica.com/new/wp-content/uploads/2015/02/IMG_8184-300x200.jpg" class="attachment-medium" alt="IMG_8184" />								</a>
															</div>
						</div>
											</div>
				</div>
			</div>
						<!-- Controls -->
			<a class="vc_left vc_carousel-control" href="#vc_images-carousel-2-1548018474" data-slide="prev">
				<span class="icon-prev"></span>
			</a>
			<a class="vc_right vc_carousel-control" href="#vc_images-carousel-2-1548018474" data-slide="next">
				<span class="icon-next"></span>
			</a>
					</div>
	</div></div>
		</div>
	</div>
</div>	<div class="vc_row wpb_row vc_row-fluid vc_custom_1430158642203"  >
	<div class="vc_col-sm-6 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

		</div>
	</div>

	<div class="vc_col-sm-6 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

		</div>
	</div>
</div><!-- Row Backgrounds --><div class="upb_bg_img" data-ultimate-bg="url(http://transnica.com/new/wp-content/uploads/2015/02/bg21.jpg)" data-image-id="39" data-ultimate-bg-style="vcpb-vz-jquery" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="ex-full" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="parallax_content_value" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="false" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""  ></div>	<div class="vc_row wpb_row vc_row-fluid"  >
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #ffff99;">La revolución de los viajes ejecutivos a Nicaragua</span></h3>
<p><span style="color: #ffffff;"><strong>Nueva flotilla dará servicio de lujo a Nicaragua al mejor precio</strong></span></p>
<p><span style="color: #ffffff;">Un cambio total en la manera de transportar pasajeros en autobús a Nicaragua protagonizará la firma costarricense TransNica a partir de marzo.</span></p>
<p><span style="color: #ffffff;">Una exuberante flotilla totalmente nueva co- menzará a transitar las carreteras con un novedoso concepto de servicio, comodidad y seguridad.</span></p>
<p><span style="color: #ffffff;">Al mejor precio, con el horario más favorable y a todo lujo, con servicio a bordo, definitivamente usted podrá sentirse como si fuera viajando en avión.</span></p>

		</div>
	</div> <div class="column_filters"><div class="blog_wrapper isotope_wrapper clearfix"><div class="posts_group lm_wrapper col-3 masonry hide-more isotope"><div class="post-item isotope-item clearfix post-513 post type-post status-publish format-image has-post-thumbnail hentry category-noticias post_format-post-format-image" ><div class="date_label">octubre 24, 2015</div><div class="image_frame post-photo-wrapper scale-with-grid image"><div class="image_wrapper"><a href="http://transnica.com/new/alianza-promueve-turismo-de-ticos-en-nicaragua/"><div class="mask"></div><img width="1189" height="1575" src="http://transnica.com/new/wp-content/uploads/2015/10/vacaciones.png" class="scale-with-grid wp-post-image" alt="vacaciones" /></a><div class="image_links double"><a href="http://transnica.com/new/wp-content/uploads/2015/10/vacaciones-773x1024.png" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="http://transnica.com/new/alianza-promueve-turismo-de-ticos-en-nicaragua/" class="link"><i class="icon-link"></i></a></div></div></div><div class="post-desc-wrapper"><div class="post-desc"><div class="post-head"></div><div class="post-title"><h2 class="entry-title" itemprop="headline"><a href="http://transnica.com/new/alianza-promueve-turismo-de-ticos-en-nicaragua/">Alianza promueve turismo de ticos en Nicaragua</a></h2></div><div class="post-excerpt">TransNica de Costa Rica y Ecotours Nicaragua ofrecen paquetes a excelente precio San Juan del Sur, Nicaragua. (24 de setiembre 2015). Los costarricenses siguen te- niendo<span class="excerpt-hellip"> […]</span></div><div class="post-footer"><div class="button-love"><span class="love-text">Te gusta?</span></div><div class="post-links"><i class="icon-comment-empty-fa"></i> <a href="http://transnica.com/new/alianza-promueve-turismo-de-ticos-en-nicaragua/#comments" class="post-comments">0</a><i class="icon-doc-text"></i> <a href="http://transnica.com/new/alianza-promueve-turismo-de-ticos-en-nicaragua/" class="post-more">Leer Más</a></div></div></div></div></div><div class="post-item isotope-item clearfix post-476 post type-post status-publish format-standard has-post-thumbnail hentry category-noticias" ><div class="date_label">junio 16, 2015</div><div class="image_frame post-photo-wrapper scale-with-grid image"><div class="image_wrapper"><a href="http://transnica.com/new/prensa-tica-visito-nicaragua-en-transnica/"><div class="mask"></div><img width="960" height="548" src="http://transnica.com/new/wp-content/uploads/2015/06/viaje1.jpg" class="scale-with-grid wp-post-image" alt="viaje1" /></a><div class="image_links double"><a href="http://transnica.com/new/wp-content/uploads/2015/06/viaje1-1024x584.jpg" class="zoom" rel="prettyphoto"><i class="icon-search"></i></a><a href="http://transnica.com/new/prensa-tica-visito-nicaragua-en-transnica/" class="link"><i class="icon-link"></i></a></div></div></div><div class="post-desc-wrapper"><div class="post-desc"><div class="post-head"></div><div class="post-title"><h2 class="entry-title" itemprop="headline"><a href="http://transnica.com/new/prensa-tica-visito-nicaragua-en-transnica/">Prensa tica visitó Nicaragua en Transnica</a></h2></div><div class="post-excerpt">Un grupo de 23 periodistas de los principales medios de comunicación costarricenses visitó a inicios de junio diversas zonas de Managua y Granada como parte de<span class="excerpt-hellip"> […]</span></div><div class="post-footer"><div class="button-love"><span class="love-text">Te gusta?</span></div><div class="post-links"><i class="icon-comment-empty-fa"></i> <a href="http://transnica.com/new/prensa-tica-visito-nicaragua-en-transnica/#comments" class="post-comments">0</a><i class="icon-doc-text"></i> <a href="http://transnica.com/new/prensa-tica-visito-nicaragua-en-transnica/" class="post-more">Leer Más</a></div></div></div></div></div><div class="post-item isotope-item clearfix post-434 post type-post status-publish format-video has-post-thumbnail hentry category-noticias post_format-post-format-video" ><div class="date_label">junio 12, 2015</div><div class="image_frame post-photo-wrapper scale-with-grid video embed"><div class="image_wrapper"><iframe class="scale-with-grid" src="http://www.youtube.com/embed/SN4LVhitRGo?wmode=opaque&rel=0" allowfullscreen></iframe>
</div></div><div class="post-desc-wrapper"><div class="post-desc"><div class="post-head"></div><div class="post-title"><h2 class="entry-title" itemprop="headline"><a href="http://transnica.com/new/hoy-tour-por-granada-11-de-junio-canal-9/">Hoy &#8211; Tour por Granada 11 de junio &#8211; Canal 9</a></h2></div><div class="post-excerpt"></div><div class="post-footer"><div class="button-love"><span class="love-text">Te gusta?</span></div><div class="post-links"><i class="icon-comment-empty-fa"></i> <a href="http://transnica.com/new/hoy-tour-por-granada-11-de-junio-canal-9/#comments" class="post-comments">0</a><i class="icon-doc-text"></i> <a href="http://transnica.com/new/hoy-tour-por-granada-11-de-junio-canal-9/" class="post-more">Leer Más</a></div></div></div></div></div></div><div class="column one pager_wrapper"><div class="pager"><div class="pages"><a href="http://transnica.com/new/" class="page active">1</a><a href="http://transnica.com/new/page/2/" class="page">2</a><a href="http://transnica.com/new/page/3/" class="page">3</a><a href="http://transnica.com/new/page/4/" class="page">4</a><a href="http://transnica.com/new/page/5/" class="page">5</a><a href="http://transnica.com/new/page/6/" class="page">6</a><a href="http://transnica.com/new/page/7/" class="page">7</a></div><a class="next_page" href="http://transnica.com/new/page/2/">Siguiente<i class="icon-right-open"></i></a></div></div>
</div>
</div>

		</div>
	</div>
</div><!-- Row Backgrounds --><div class="upb_no_bg" data-fadeout="" data-fadeout-percentage="30" data-parallax-content="" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="true"  ></div>	<div class="vc_row wpb_row vc_row-fluid vc_custom_1430158685719"  >
	<div class="vc_col-sm-12 wpb_column vc_column_container ">
		<div class="wpb_wrapper">

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3><span style="color: #ffff00;">Lujo, comodidad y lo último en tecnología</span></h3>
<p><span style="color: #ffffff;">La nueva flotilla de autobuses para el Servicio Ejecutivo de TransNica marca un antes y un después en el transporte de pasajeros entre San José y Nicaragua.</span></p>
<p><span style="color: #ffffff;">Se trata de unidades último modelo de la marca Scania y con carrocería MarcoPolo, serie Paradiso 1200, generación G7, con los cuales TransNica presenta en carretera su nueva empresarial.</span></p>
<p><span style="color: #ffffff;">Las unidades cuentan motor electrónico con baja emisión de ahorro de combustible, con 410 caballos de potencia, sistema de suspensión anti derrapante y anti deslizante y nivelador automático de carrocería para comodidad de los pasajeros.</span></p>

		</div>
	</div>
		</div>
	</div>
</div><!-- Row Backgrounds --><div class="upb_bg_img" data-ultimate-bg="url(http://transnica.com/new/wp-content/uploads/2015/02/bg22.jpg)" data-image-id="91" data-ultimate-bg-style="vcpb-vz-jquery" data-bg-img-repeat="repeat" data-bg-img-size="cover" data-bg-img-position="" data-parallx_sense="30" data-bg-override="ex-full" data-bg_img_attach="scroll" data-upb-overlay-color="" data-upb-bg-animation="" data-fadeout="" data-bg-animation="left-animation" data-bg-animation-type="h" data-animation-repeat="repeat" data-fadeout-percentage="30" data-parallax-content="parallax_content_value" data-parallax-content-sense="30" data-row-effect-mobile-disable="true" data-img-parallax-mobile-disable="false" data-overlay="false" data-overlay-color="" data-overlay-pattern="" data-overlay-pattern-opacity="" data-overlay-pattern-size=""  ></div>
</div></div></div>
				<div class="section section-page-footer">
					<div class="section_wrapper clearfix">

						<div class="column one page-pager">
													</div>

					</div>
				</div>

			</div>


		</div>

		<!-- .four-columns - sidebar -->

	</div>
</div>


<!-- mfn_hook_content_after --><!-- mfn_hook_content_after -->
	<!-- #Footer -->
	<footer id="Footer" class="clearfix">


		<div class="widgets_wrapper" style=""><div class="container"><div class="column one-fourth">		<aside id="recent-posts-2" class="widget widget_recent_entries">		<h4>Noticias</h4>		<ul>
					<li>
				<a href="http://transnica.com/new/alianza-promueve-turismo-de-ticos-en-nicaragua/">Alianza promueve turismo de ticos en Nicaragua</a>
						</li>
					<li>
				<a href="http://transnica.com/new/prensa-tica-visito-nicaragua-en-transnica/">Prensa tica visitó Nicaragua en Transnica</a>
						</li>
					<li>
				<a href="http://transnica.com/new/hoy-tour-por-granada-11-de-junio-canal-9/">Hoy &#8211; Tour por Granada 11 de junio &#8211; Canal 9</a>
						</li>
					<li>
				<a href="http://transnica.com/new/transnica-invertira-4-millones-en-managua/">Transnica invertirá $4 millones en Managua</a>
						</li>
					<li>
				<a href="http://transnica.com/new/nuestra-fiesta-con-nuestra-gente/">Nuestra fiesta con nuestra gente</a>
						</li>
				</ul>
		</aside></div><div class="column one-fourth"><aside id="calendar-2" class="widget widget_calendar"><h4>Calendario</h4><div id="calendar_wrap"><table id="wp-calendar">
	<caption>enero 2019</caption>
	<thead>
	<tr>
		<th scope="col" title="Lunes">L</th>
		<th scope="col" title="Martes">M</th>
		<th scope="col" title="Miércoles">X</th>
		<th scope="col" title="Jueves">J</th>
		<th scope="col" title="Viernes">V</th>
		<th scope="col" title="Sábado">S</th>
		<th scope="col" title="Domingo">D</th>
	</tr>
	</thead>

	<tfoot>
	<tr>
		<td colspan="3" id="prev"><a href="http://transnica.com/new/2015/10/">&laquo; oct</a></td>
		<td class="pad">&nbsp;</td>
		<td colspan="3" id="next" class="pad">&nbsp;</td>
	</tr>
	</tfoot>

	<tbody>
	<tr>
		<td colspan="1" class="pad">&nbsp;</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td><td>6</td>
	</tr>
	<tr>
		<td>7</td><td>8</td><td>9</td><td>10</td><td>11</td><td>12</td><td>13</td>
	</tr>
	<tr>
		<td>14</td><td>15</td><td>16</td><td>17</td><td>18</td><td>19</td><td id="today">20</td>
	</tr>
	<tr>
		<td>21</td><td>22</td><td>23</td><td>24</td><td>25</td><td>26</td><td>27</td>
	</tr>
	<tr>
		<td>28</td><td>29</td><td>30</td><td>31</td>
		<td class="pad" colspan="3">&nbsp;</td>
	</tr>
	</tbody>
	</table></div></aside></div><div class="column one-fourth"><aside id="tp_widget_recent_tweets-2" class="widget widget_tp_widget_recent_tweets"><h4>Twitter</h4><strong>Please fill all widget settings!</strong></aside></div><div class="column one-fourth"><aside id="search-2" class="widget widget_search"><h4>Buscar</h4>
<form method="get" id="searchform" action="http://transnica.com/new/">


	<i class="icon_search icon-search-fine"></i>
	<a href="#" class="icon_close"><i class="icon-cancel-fine"></i></a>

	<input type="text" class="field" name="s" placeholder="Buscar" />
	<input type="submit" class="submit" value="" style="display:none;" />

</form></aside></div></div></div>

			<div class="footer_copy">
				<div class="container">
					<div class="column one">

						<a id="back_to_top" class="button button_js" href=""><i class="icon-up-open-big"></i></a>
						<!-- Copyrights -->
						<div class="copyright">
							TransNIC.com						</div>

						<ul class="social"><li class="facebook"><a  href="https://www.facebook.com/jackson.guzman1" title="Facebook"><i class="icon-facebook"></i></a></li></ul>
					</div>
				</div>
			</div>



	</footer>

</div><!-- #Wrapper -->




<!-- mfn_hook_bottom --><!-- mfn_hook_bottom -->
<!-- wp_footer() -->
<link rel='stylesheet' id='vc_carousel_css-css'  href='http://transnica.com/new/wp-content/plugins/js_composer/assets/lib/vc_carousel/css/vc_carousel.css?ver=4.4.3' type='text/css' media='all' />
<link rel='stylesheet' id='prettyphoto-css'  href='http://transnica.com/new/wp-content/plugins/js_composer/assets/lib/prettyphoto/css/prettyPhoto.css?ver=4.4.3' type='text/css' media='screen' />
<link rel='stylesheet' id='background-style-css'  href='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/css/background-style.css?ver=4.2.22' type='text/css' media='all' />
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/contact-form-7/includes/js/jquery.form.min.js?ver=3.51.0-2014.06.20'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var _wpcf7 = {"loaderUrl":"http:\/\/transnica.com\/new\/wp-content\/plugins\/contact-form-7\/images\/ajax-loader.gif","sending":"Sending ..."};
/* ]]> */
</script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=4.1'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/ui/core.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/ui/widget.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/ui/mouse.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/ui/sortable.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/ui/tabs.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/jquery/ui/accordion.min.js?ver=1.11.4'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/themes/betheme/js/plugins.js?ver=20.9.5.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/themes/betheme/js/menu.js?ver=20.9.5.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/themes/betheme/assets/animations/animations.min.js?ver=20.9.5.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/themes/betheme/assets/jplayer/jplayer.min.js?ver=20.9.5.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/themes/betheme/js/scripts.js?ver=20.9.5.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-includes/js/comment-reply.min.js?ver=4.2.22'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/js_composer/assets/js/js_composer_front.js?ver=4.4.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/js/ultimate_bg.js?no_bg&#038;ver=4.2.22'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/assets/js/custom.js?ver=1.5'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/js_composer/assets/lib/vc_carousel/js/transition.js?ver=4.4.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/js_composer/assets/lib/vc_carousel/js/vc_carousel.js?ver=4.4.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/js_composer/assets/lib/prettyphoto/js/jquery.prettyPhoto.js?ver=4.4.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/js_composer/assets/lib/waypoints/waypoints.min.js?ver=4.4.3'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/assets/js/jquery.appear.js?ver=1.5'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/js/jparallax.js?ver=4.2.22'></script>
<script type='text/javascript' src='http://transnica.com/new/wp-content/plugins/Ultimate_VC_Addons/modules/../assets/js/jquery.vhparallax.js?ver=4.2.22'></script>

</body>
</html>
