<script type="text/javascript">
//SCRIPT PARA SOLICITAR PERMISO DE LAS NOTIFICACIONES AL USUARIO
$().ready(function () {
  if (Notification) {Notification.requestPermission()}
});
</script>
<!-- Home -->

<div class="home">

  <!-- Home Slider -->

  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">

      <!-- Home Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_subtitle">TRANS NIC</div>
            <div class="home_slider_title">Nuevas Unidades</div>
          </div>
        </div>
      </div>

      <!-- Home Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(images/home_slider_2.jpg)"></div>
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_subtitle">VIP</div>
            <div class="home_slider_title">Viaje Comodo</div>
          </div>
        </div>
      </div>

      <!-- Home Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(images/home_slider_3.jpg)"></div>
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_subtitle">Reservaciones</div>
            <div class="home_slider_title">Boletos en Línea</div>
          </div>
        </div>
      </div>

    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="images/arrow_r.png" alt=""></div>

    <!-- Home Slider Dots -->

    <div class="home_slider_dots_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_slider_dots">
              <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                <li class="home_slider_custom_dot active">01.<div></div>
                </li>
                <li class="home_slider_custom_dot">02.<div></div>
                </li>
                <li class="home_slider_custom_dot">03.<div></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gallery">
<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d4082863.6261521378!2d-81.47105517769513!3d-2.0871155826846675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x91cb480661b91d2d%3A0x8e12137cdc1eee09!2sLoja!3m2!1d-4.0078909!2d-79.2112769!4m5!1s0x91d59a4002427c9f%3A0x44b991e158ef5572!2sQuito!3m2!1d-0.18065319999999999!2d-78.4678382!5e0!3m2!1ses-419!2sec!4v1551203581538" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
<iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d1019539.6207358004!2d-79.71127108636894!3d-3.4526006730038845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x91cb480661b91d2d%3A0x8e12137cdc1eee09!2sLoja!3m2!1d-4.0078909!2d-79.2112769!4m5!1s0x91cd18095fc7e881%3A0xafd08fd090de6ff7!2sCuenca!3m2!1d-2.9001284999999997!2d-79.00589649999999!5e0!3m2!1ses-419!2sec!4v1551203792079" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
