  <div class="gallery"><h1>MARCAS</h1></div>
<div class="container">
<div class="row products_container">
  <!-- Gallery -->
  <div data-aos='fade-up' class="col-lg-4 product_col">
    <form id="formMarca" method="post">
      <input type="hidden" name="external" value="0" id="external">
      <label for="nombre">Proporcione el nombre de la marca</label>
      <input type="text" name="nombre" placeholder="Nombre Marca" id="nombre">
      <button type="submit" class="btn btn-primary btn-block" id="btn">Guardar</button>
      <div id="divBaja" style='visibility:hidden;'>
        <input type="checkbox" value='true' id="estado" name="estado" onclick="clicBaja()">
        <label for="estado">Reactivar / Dar de Baja</label>
        <input type="radio" value="0" id="eliminar" name="opcion" onclick="clicEliminar()">Eliminar
        <input type="radio" value="editar" name="opcion" onclick="clicEditar()"">Editar
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <small>Seleccione para reactivar o deje desmarcado para desactivar la marca</small>
        </div>
  </div>
  <script>
      function clicEliminar(){
        $('#eliminar').val('1');
        $('#btn').html('Eliminar');
      };
      $("#estado").on('change', function() {
        $('#eliminar').val('0');
        if ($(this).is(':checked')) {
          $('#btn').html('Reactivar');
          $(this).attr('value', 'true');
        } else {
          $('#btn').html('Dar de Baja');
          $(this).attr('value', 'false');
        }
        $('#estado').text($('#estado').val());
      });
      function clicEditar(){
        $('#btn').html('Editar');
        $('#eliminar').val('0');
      };
      $().ready(function () {
          $("#btn").click(function () {
            var external=$("#external").val();
            var eliminar=$('#eliminar').val();
            if (external=="0" ) {
              $('#formMarca').attr('action', '/guardarMarca' );
            }else if (eliminar=='1' ) {
              $('#formMarca').attr('action', '/eliminarMarca' );
            }else{
              $('#formMarca').attr('action', '/editarMarca' );
            }
          });
        });
      </script>
    </form>
  </div>
  <div data-aos='fade-up' class="col-lg-4 product_col">
    <form method="post" action="/buscar">
      <label for="nombre">Ingrese el nombre de la marca a buscar</label>
      <input type="text" name="buscar" placeholder="Nombre Marca">
      <button type="submit" class="btn btn-primary btn-block">Buscar</button>
    </form>
  </div>

  <div data-aos='fade-up' class="col-lg-4 product_col">
      <h4>Acciones</h4>
      <form action="/listarMarcas" method="get">
       <button type="submit" class="col-lg-4 product_col">LISTAR TODOS</button>
      </form>
      <form action="/listarActivos" method="post">
       <button type="submit" class="col-lg-4 product_col">LISTAR ACTIVOS</button>
      </form>
  </div>
  <%- locals.flash%>
  </div>
</div>

  <div data-aos='fade-up-left' class="gallery">
    <div class="gallery_image" style="background-image:url(images/gallery.jpg)"></div>
    <div class="gallery_slider_container">
      <!-- Gallery Slider -->
      <div class="owl-carousel owl-theme gallery_slider">
        <% listado.forEach(function(marca, i){%>
        <!-- Gallery Item -->
        <div class="owl-item gallery_item">
          <h5 style="color:white">
            <%= i%>
          </h5>
          <h3 style="color:white">
            <%= marca.nombre%>
          </h3>
          <img src="images/gallery_<%= i%>.jpg" alt="">
          <h4 style="color:white">
            <%= (marca.estado) ? 'Activo':'Inactivo' %>
          </h4>
          <div>
            <button id="<%= i%>" type="button" class="btn btn-error" href='#'>Seleccionar</button>
            <script>
              $('#<%=i%>').click(function() {
                $('#nombre').val('<%= marca.nombre%>');
                $('#external').val('<%= marca.external_id%>');
                $("#estado").prop('checked', <%= marca.estado%>);
                $('#btn').html('Editar');
                $('#divEliminar').attr('style', 'visibility: visible');
                $('#divBaja').attr('style', 'visibility: visible');
              });
            </script>
          </div>
        </div>
        <%});%>
      </div>
    </div>
  </div>
