<meta charset="utf-8">
<title>
  <%= titulo %>
</title>
<!--<script src="javascripts/paises.js"></script> -->
  <div class="gallery"><h1>TEMPORAL</h1></div>
<div class="container">
  <div class="row">
    <!-- FORM -->
    <div class="col-md-5">
      <div class="card">
        <div class="card-body">
          <form id="vino" action="/guardarVino" method="POST">
            <input id="external" name="external" value="0" type="hidden">
            <div class="form-group">
              <input type="text" id="nombre" name="nombre" placeholder="descripcion del producto" class="form-control" required minlength="3">
              <small>Nombre del vino</small>
            </div>
            <div class="form-group">
              <input type="date" id="fecha" name="fecha" value="" class="form-control" required minlength="3">
              <small>Seleccione la fecha de elaboracion</small>
            </div>
            <div class="form-group">
              <select id="tipo" name="tipo" class="form-control" required minlength="3">
                <option value="" disabled selected>Tipo</option>
                <option value="ardiente">ardiente</option>
                <option value="espumoso">espumoso</option>
                <option value="malbec">malbec</option>
                <option value="tinto">tinto</option>
                <option value="rojo">rojo</option>
              </select>
              <small>Seleccione el tipo</small>
            </div>
            <div class="form-group">
              <input type="text" id="cantidad" name="cantidad" placeholder="cantidad" class="form-control" required>
            </div>
            <div class="form-group">
              <input type="text" id="precio" name="precio" placeholder="precio" class="form-control" required digits>
            </div>
            <div class="form-group">
              <select id="paises" name="paises" required></select>
              <small>Seleccione un pais</small>
            </div>
            <div class="form-group">
              <select id="marca" name="marca" required minlength="2">
                <option value="" disabled selected>Marca</option>

              </select>
              <small>Seleccione una marca</small>
            </div>
            <div class="form-group">
              <input type="text" src="" id="imagen" name="imagen" placeholder="foto del vino" class="form-control" required>
            </div>
            <div class="form-group">
              <button id="btn" type="submit" class="btn btn-primary btn-block">Registrar</button>
              <small>Este botón permite guardar o modificar según sea requerido</small>
                <script>
                  $().ready(function() {
                    $("#btn").click(function() {
                      var external = $("#external").val();
                      var eliminar = $("#eliminar").val();
                      if (external == "0") {
                        $('#vino').attr('action', '/guardarVino');
                      } else {
                        $('#vino').attr('action', '/editarVino');
                      }
                      if (eliminar == "1") {
                        $('#vino').attr('action', '/eliminarVino');
                      }
                    });
                  });
                </script>
            </div>
            <div id="divEliminar" class="form-group" style="visibility:hidden">
              <input type="radio" id="eliminar" value="0" onclick="functionEliminar()">
              <script>
                function functionEliminar() {
                  $("#eliminar").val('1');
                  $('#btn').html('Eliminar');
                };
              </script>
              <small style="color: red;">Seleccione solo si desea eliminar el vino seleccionado</small>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!--  LIST-->
    <div class="col-md-7">
      <div style="background-color:green; color:white; font-size: 24px;">
        <%- locals.flash %>
      </div>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Editar/Eliminar</th>
            <th>Nro</th>
            <th>Fecha Elaboracion</th>
            <th>Tipo</th>
            <th>Cantidad</th>
            <th>Descripcion</th>
            <th>Origen</th>
            <th>Marca</th>
            <th>Precio</th>
            <th>Imagen</th>
          </tr>
        </thead>

      </table>
    </div>
  </div>
</div>
