

<div class="gallery">
<div class="home">
    <div class="alert alert-success">
      <h4> BIENVENIDO <strong>{{usuario}}</strong></h4>

    </div>


  <!-- Home Slider -->

  <div class="home_slider_container">
    <div class="owl-carousel owl-theme home_slider">

      <!-- Home Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(images/home_slider_1.jpg)"></div>
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_subtitle">TRANS NIC</div>
            <div class="home_slider_title">Nuevas Unidades</div>
          </div>
        </div>
      </div>

      <!-- Home Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(images/home_slider_2.jpg)"></div>
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_subtitle">VIP</div>
            <div class="home_slider_title">Viaje Comodo</div>
          </div>
        </div>
      </div>

      <!-- Home Slider Item -->
      <div class="owl-item">
        <div class="home_slider_background" style="background-image:url(images/home_slider_3.jpg)"></div>
        <div class="home_slider_content">
          <div class="home_slider_content_inner">
            <div class="home_slider_subtitle">Reservaciones</div>
            <div class="home_slider_title">Boletos en Línea</div>
          </div>
        </div>
      </div>

    </div>

    <!-- Home Slider Nav -->

    <div class="home_slider_next d-flex flex-column align-items-center justify-content-center"><img src="images/arrow_r.png" alt=""></div>

    <!-- Home Slider Dots -->

    <div class="home_slider_dots_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="home_slider_dots">
              <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                <li class="home_slider_custom_dot active">01.<div></div>
                </li>
                <li class="home_slider_custom_dot">02.<div></div>
                </li>
                <li class="home_slider_custom_dot">03.<div></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</div>


<script src="https://www.gstatic.com/firebasejs/5.8.4/firebase.js"></script>
<script>
// Initialize Firebase
var config = {
  apiKey: "AIzaSyAfSwCY5PZAUhKQgJuTHZYqv_PSPwmMsDE",
  authDomain: "cooperativa-transnic.firebaseapp.com",
  databaseURL: "https://cooperativa-transnic.firebaseio.com",
  projectId: "cooperativa-transnic",
  storageBucket: "cooperativa-transnic.appspot.com",
  messagingSenderId: "304857241691"
};
firebase.initializeApp(config);

// fire base mensajes
            var messaging= firebase.messaging();
            messaging.usePublicVapidKey('BNSuAA4YXyRp6h2pt2jq8YFoXW-0Itss7hPBzOsVLBAELWk5g4KiK9y_4LCHn7Yh9v3n58oBYfypNHsTfFYghps');
            messaging.requestPermission().then(function(){
              console.log('se ha aceptado las notificaciones');
              messaging.getToken().then(function(currentToken){
                if (currentToken) {
                  console.log(currentToken);
                  //guardar token
                  $.ajax({
                            url: '/guardarToken/' + currentToken,
                            type: 'GET',
                            dataType: 'json',
                            success: function (data, textStatus, jqXHR) {

                            }, error: function (jqXHR, textStatus, errorThrown) {

                            }
                        });
                }else {
                  console.log('no existe token disponible Pida permisos para generar alguno');
                }
              }).catch(function(err){
                console.log('ocurrio un error mientras se obtenia el token', err);
                showToken('error al obtener la instancia id del token', err);
                setTokenSentToServer(false);

              });

            }).catch(function(err){
              mensajeFeedBack(err);
              console.log('no se ha recibido permiso / token : ', err);
            });
            messaging.onMessage(function(payload){
              //script para lanzar notificaciones HTML5
              var title = payload.notification.title
              var extra = {
              icon: payload.notification.icon,
              body: payload.notification.body
              }
              // Lanzamos la notificación
              var noti = new Notification( title, extra)
              setTimeout( function() { noti.close() }, 5000)
              noti.onclick = function() {
              window.location.assign(payload.notification.click_action)
              }
            });
            function appendMessage(payload){
              console.log(payload);
              var notification = '<div class="alert alert-warning alert-dismissible fade show" role="alert">';
              notification+='<button type="button" class="close" data-dismiss="alert" aria-label="Close">';
              notification+='<span aria-hidden="true">&times;</span>';
              notification+='</button>';
              notification+='<img src="'+payload.notification.icon+'" width="25"/><strong>'+payload.notification.title+'</strong>'+
              payload.notification.body+'.';
              notification+='</div>';
              $("#messages").html(notification);

            }
</script>
